@require mixins
@require animations

html, body
  height: 100%

body
  font-family: 'Montserrat', sans-serif
  margin: 0
  color: #B7B7B7
  background-color: black
  overflow: hidden

.header-wrapper
  background: transparent
  position: absolute
  top: 0
  left: 0
  height: 70px
  width: 100%
  z-index: 5
.header-style
  height: 100%
  width: 100%
  background: #272727
.header-style.hide
  animation-name: slide-up
  animation-duration: 1s
  animation-duration-count: 1
  margin-top: -70px
.header-style.show
  animation-name: slide-down
  animation-duration: 1s
  animation-duration-count: 1
#content
  position: absolute
  background-color: transparent
  bottom: 5px
  left: 0
  width: 100%
  height: 100%
#footer
  background: #272727
  position: absolute
  bottom: 0
  left: 0
  height: 70px
  width: 100%
  z-index: 5

.video-box
  position: relative
  left: 0
  top: -37px
  // pointer-events: none

#YTplayer
  position: absolute
  top: 0
  left: 0
  width: 100% !important
  height: 100% !important

@keyframes slide-up
  0%
    margin-top: 0
  100%
    margin-top -70px

@keyframes slide-down
  0%
    margin-top: -70px
  100%
    margin-top 0
.progress-container
  position: absolute
  width: 100%
  height: 20px
  z-index: 1
  bottom: 65px

.progress-background
  position: absolute
  bottom: 0
  width: 100%
  background-color: grey
  height: 5px
  animation: reduceProgress 1.0s forwards

.progress-background.hover
  animation: expandProgress 1.0s forwards

.progress-crawler
  height: 100%
  background-color: red
  // transition: width 1s 0s
